[submodule "openclean-core"]
	path = openclean-core
	url = https://github.com/VIDA-NYU/openclean-core
[submodule "openclean-metanome"]
	path = openclean-metanome
	url = https://github.com/VIDA-NYU/openclean-metanome
[submodule "openclean-notebook"]
	path = openclean-notebook
	url = https://github.com/VIDA-NYU/openclean-notebook
[submodule "openclean-geo"]
	path = openclean-geo
	url = https://github.com/VIDA-NYU/openclean-geo
[submodule "openclean-pattern"]
	path = openclean-pattern
	url = https://github.com/VIDA-NYU/openclean-pattern/
